<html>
<% include head.ejs %>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%=title%></a>
        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </div>
<form class="form-horizontal" method="post">
	<fieldset>
		<legend><%=title%></legend>
		<div class="control-group">
			<label class="control-label" for="username">用户名</label>
			<div class="controls">
				<input type="text" class="iput-xlarge" id="username" name="username" />
				<p class="help-block">你的账户名称，用于登录和显示。</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">口令</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password">
			</div>

		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">登陆</button>
		</div>
		<% if(error){ %>
		<span><%= error %></span>
		<% }%>
	</fieldset>
</form>	
	
</html>
